.App {
  text-align: center;
  
}
.div {
  font-size: 16px;
  text-align: left;
  border: 1px solid green;
  margin: 2px;
  display: flex;
  background-color:darkkhaki;
  color: white;
  font-family: "Noto Sans Egyptian Hieroglyphs", sans-serif;
}
.buttonX {
  align-content: center;
  background-color: inherit;
  font-size: 10px;
  margin:0 1px 25px auto;
  width: 15px;
  height: 15px;
  border: none;
}
.bold {
  font-size: medium;
  padding: 5px;
  border: 1px solid grey;
  background-color: rgb(121, 219, 214);
  color: #430147;
}
.pressMe {
  background-color: lightgreen;
  color: white;
  border: 1px solid;
}
