.App {
  text-align: center;
  
}

.div {
  text-align: left;
  border:  1px solid green;
  margin: 2px;
  display: flex;
  background-color: lightseagreen;
}
.buttonX{
 padding: auto;
 position: sticky;
  font-size: 5px;
  margin-left: auto;
  margin-right: 1px;
  margin-bottom: 25px;
  background-color:darkorange;
  border: 1px solid;
}
.bold{
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5px;
  border: 1px solid gray;

  background-color:gold;
}
.pressMe{
background-color:lightgreen;;
color:white;
border: 1px solid;
}